<!-- 1. check if the job saved is inside User.find(id).jobs -->
<!-- 2. iterate through the jos to see if it's filtered(favorited)

  -->
  <!-- this is the index page for all users -->
  <!-- 1. list all available jobs -->
  <!-- 2. if the job is favorited, then indicate with blue check -->
<section>
  <div class="content">
    <div class="<%= job.try(:id) %>">
    <div class="title"><a href="<%= job.try(:url)%>"><%= job.try(:title) %><a href="/">
      <% if current_user %>
          <% if User.find(current_user).jobs.include?(job) %>
            <a href=""><img src="/image/blue_star.png" alt="favorite" class="fav_star"></a>
          <% else %>
            <a href=""><img src="/image/fav_star.png" alt="favorite" class="fav_star"></a>
          <% end %>
       <% else %>
        <a href=""><img src="/image/fav_star.png" alt="favorite" class="fav_star"></a>
      <% end %>
    </a></a></div>
    <div class="company"><%= job.try(:company_name) %></div>
    <div class="snippet"><%= job.try(:description)%></div>
  </div></div>
</section>